.list-item {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    button {
        margin: 0px 10px 10px 0px;
    }
}

.d-flex {
    display: flex;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    gap: 10px;
    flex-flow: row wrap;
}

.box {
    background-color: aqua;
    width: 200px;
    height: 200px;

}